In [1]:
import pandas as pd
import numpy as np

In [2]:
amz=pd.read_csv('Amazon- Movies and Films.csv')

In [3]:
amz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2108 entries, 0 to 2107
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2108 non-null   int64
 1   title          2108 non-null   object
 2   Movie_Rating   2108 non-null   float64
 3   No_of_Ratings  2108 non-null   int64
 4   Format         2108 non-null   object
 5   ReleaseYear    2069 non-null   float64
 6   MPAA_Rating    1378 non-null   object
 7   Directed_By    2043 non-null   object
 8   Starring       2107 non-null   object
 9   Price          1011 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 164.8+ KB

In [4]:
amz.sample(3)

,Unnamed: 0,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,MPAA_Rating,Directed_By,Starring,Price
1818,1827,Monster Island,4.4,169,Prime Video,2009.0,NaN,Leopoldo Aguilar,"Phillip Adrian Vasquez,Roger L. Jackson,Johnny...",NaN
1921,1930,Dune (4k Ultra HD + Blu-Ray + Digital) [4K UHD],4.5,42577,4K,NaN,NaN,Denis Villeneuve,"Timothée Chalamet,Rebecca Ferguson,Oscar Isaac",16.99
572,572,Addams Family Values,4.8,9593,Prime Video,1993.0,PG-13,Barry Sonnenfeld,"Anjelica Huston,Raul Julia,Christopher Lloyd",2.89

In [5]:
amz.rename(columns={'Unnamed: 0':'Index'},inplace=True)

In [6]:
amz.set_index('Index',inplace=True)

In [7]:
amz.describe()

       Movie_Rating  No_of_Ratings  ReleaseYear        Price
count   2108.000000    2108.000000  2069.000000  1011.000000
mean       4.484677    8090.982448  2008.199613     4.830465
std        0.255954   16157.475033    14.802774     6.717304
min        4.000000       1.000000  1931.000000     0.890000
25%        4.300000     302.000000  2002.000000     3.590000
50%        4.500000    2042.500000  2013.000000     3.790000
75%        4.700000    7717.000000  2019.000000     3.990000
max        5.000000  142807.000000  2023.000000   119.990000

In [8]:
amz.head()

,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,MPAA_Rating,Directed_By,Starring,Price
Index,,,,,,,,,
0,Totally Killer,4.3,323,Prime Video,2023.0,R,Nahnatchka Khan,"Kiernan Shipka,Olivia Holt,Julie Bowen",NaN
1,Guy Ritchie's The Covenant,4.7,13268,Prime Video,2023.0,R,Guy Ritchie,"Jake Gyllenhaal,Dar Salim,Antony Starr",5.99
2,A Million Miles Away,4.9,1126,Prime Video,2023.0,PG,Alejandra Márquez Abella,"Michael Peña,Rosa Salazar",NaN
3,Kelce,5.0,570,Prime Video,2023.0,NaN,Don Argott,"Jason Kelce,Travis Kelce,Kylie Kelce,Connor Ba...",NaN
4,Despicable Me 3,4.8,31813,Prime Video,2017.0,PG,"Pierre Coffin,Kyle Balda","Steve Carell,Kristen Wiig,Trey Parker",NaN

In [9]:
amz['Format'].value_counts()

Prime Video    2086
4K               13
Blu-ray           7
DVD               2
Name: Format, dtype: int64

In [10]:
amz['MPAA_Rating'].value_counts()

R        647
PG-13    457
PG       247
G         27
Name: MPAA_Rating, dtype: int64

In [11]:
amz.isnull().sum()

title               0
Movie_Rating        0
No_of_Ratings       0
Format              0
ReleaseYear        39
MPAA_Rating       730
Directed_By        65
Starring            1
Price            1097
dtype: int64

In [12]:
amz['ReleaseYear'] = amz['ReleaseYear'].fillna(amz['ReleaseYear'].mode()[0])
amz['MPAA_Rating'] = amz['MPAA_Rating'].fillna(amz['MPAA_Rating'].mode()[0])
amz['Price'] = amz['Price'].fillna(amz['Price'].mean())

In [13]:
amz.isnull().sum()

title             0
Movie_Rating      0
No_of_Ratings     0
Format            0
ReleaseYear       0
MPAA_Rating       0
Directed_By      65
Starring          1
Price             0
dtype: int64

In [14]:
mformat = amz.groupby('Format')

In [17]:
mformat.mean()

C:\Users\Pratishtha Singh\AppData\Local\Temp\ipykernel_12864\767526531.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mformat.mean()

             Movie_Rating  No_of_Ratings  ReleaseYear      Price
Format
4K               4.669231   21800.461538   2023.00000  40.120000
Blu-ray          4.600000   15890.285714   2023.00000  30.081429
DVD              4.450000   43286.500000   2023.00000  34.975000
Prime Video      4.483174    7945.627996   2008.32023   4.496903

In [23]:
mformat.min()

C:\Users\Pratishtha Singh\AppData\Local\Temp\ipykernel_12864\3706442998.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  mformat.min()

,title,Movie_Rating,No_of_Ratings,ReleaseYear,MPAA_Rating,Price
Format,,,,,,
4K,Barbie (4K Ultra HD + Digital) [4K UHD],4.4,183,2023.0,R,15.59
Blu-ray,Barbie (Blu-Ray + Digital),4.1,61,2023.0,R,12.99
DVD,Harry Potter: The Complete 8-Film Collection [...,4.1,61,2023.0,R,19.96
Prime Video,#Unfit: The Psychology of Donald Trump,4.0,1,1931.0,G,0.89

In [24]:
mformat.max()

C:\Users\Pratishtha Singh\AppData\Local\Temp\ipykernel_12864\2684707402.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  mformat.max()

,title,Movie_Rating,No_of_Ratings,ReleaseYear,MPAA_Rating,Price
Format,,,,,,
4K,WARNER BROS Live Die Repeat: Edge of Tomorrow ...,4.8,86512,2023.0,R,119.99
Blu-ray,Transformers: Rise of the Beasts [Blu-ray],4.9,43543,2023.0,R,54.99
DVD,SOUND OF FREEDOM,4.8,86512,2023.0,R,49.99
Prime Video,¿Quieres ser mi hijo?,5.0,142807,2023.0,R,24.99

In [26]:
mrating = amz.groupby('MPAA_Rating')

In [27]:
mrating.mean()

C:\Users\Pratishtha Singh\AppData\Local\Temp\ipykernel_12864\3277039539.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mrating.mean()

             Movie_Rating  No_of_Ratings  ReleaseYear     Price
MPAA_Rating
G                4.581481    4491.407407  2001.925926  4.273945
PG               4.621457   12108.744939  2002.182186  4.385763
PG-13            4.550109   14287.179431  2009.792123  4.821803
R                4.436529    5384.474946  2009.292665  4.924020

In [28]:
mrating.min()

C:\Users\Pratishtha Singh\AppData\Local\Temp\ipykernel_12864\1841421211.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  mrating.min()

,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,Price
MPAA_Rating,,,,,,
G,2001: A Space Odyssey,4.0,1,Prime Video,1939.0,2.29
PG,A Bridge Too Far,4.0,1,Prime Video,1955.0,0.99
PG-13,10 Cloverfield Lane,4.0,1,Prime Video,1948.0,1.99
R,#Unfit: The Psychology of Donald Trump,4.0,1,4K,1931.0,0.89

In [29]:
mrating.max()

C:\Users\Pratishtha Singh\AppData\Local\Temp\ipykernel_12864\2285913802.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  mrating.max()

,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,Price
MPAA_Rating,,,,,,
G,Young Billy Young,5.0,21760,Prime Video,2023.0,4.830465
PG,You've Got Mail,5.0,129546,Prime Video,2023.0,19.990000
PG-13,xXx: State of the Union,5.0,123576,Prime Video,2023.0,24.990000
R,¿Quieres ser mi hijo?,5.0,142807,Prime Video,2023.0,119.990000

In [31]:
a=amz['Movie_Rating'].max()
Top_rated=amz[amz['Movie_Rating']==a]

In [50]:
Top_rated['Format'].value_counts()

Prime Video    42
Name: Format, dtype: int64

In [53]:
Top_rated.shape

(42, 9)

In [35]:
b=Top_rated['No_of_Ratings'].max()
Top_rated[Top_rated['No_of_Ratings']==b]

,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,MPAA_Rating,Directed_By,Starring,Price
Index,,,,,,,,,
3,Kelce,5.0,570,Prime Video,2023.0,R,Don Argott,"Jason Kelce,Travis Kelce,Kylie Kelce,Connor Ba...",4.830465

In [46]:
c=Top_rated['Price'].min()
Top_rated[Top_rated['Price']==c]

,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,MPAA_Rating,Directed_By,Starring,Price
Index,,,,,,,,,
1688,Renfroe's White Christmas,5.0,6,Prime Video,1997.0,R,Charles B. Pierce,"Nicholas Todd,Daniel Glover,Aaron Bohl",2.99

In [36]:
Top_rated['Directed_By'].value_counts().head(3)

David DeCoteau        4
Tolu LordTanner       2
Cas Sigers-Beedles    2
Name: Directed_By, dtype: int64

In [54]:
amz.sort_values(by='No_of_Ratings', ascending=False).head(5)

,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,MPAA_Rating,Directed_By,Starring,Price
Index,,,,,,,,,
35,Joker,4.5,142807,Prime Video,2019.0,R,Todd Phillips,"Joaquin Phoenix,Robert De Niro,Zazie Beetz",3.99
373,Sonic the Hedgehog,4.6,129546,Prime Video,2020.0,PG,Jeff Fowler,"James Marsden,Tika Sumpter,Jim Carrey",3.79
1263,Elf,4.8,123979,Prime Video,2003.0,PG,Jon Favreau,"Will Ferrell,James Caan,Bob Newhart,Ed Asner",3.99
746,Spider-Man: Far From Home,4.7,123576,Prime Video,2019.0,PG-13,Jon Watts,"Tom Holland,Jake Gyllenhaal,Michael Keaton",3.79
436,Illumination Presents: Dr. Seuss' The Grinch,4.8,107996,Prime Video,2018.0,PG,"Scott Mosier,Yarrow Cheney","Benedict Cumberbatch,Rashida Jones,Kenan Thompson",3.79

In [44]:
amz.sort_values(by='Price', ascending=False).tail(3)

,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,MPAA_Rating,Directed_By,Starring,Price
Index,,,,,,,,,
1246,Humpty Dumpty & More Kids Songs - Super Simple...,4.4,105,Prime Video,2017.0,R,NaN,Super Simple Songs,0.99
1144,Lavell Crawford: The Comedy Vaccine (Extended ...,4.3,1785,Prime Video,2021.0,R,Brian Volk-Weiss,Lavell Crawford,0.99
638,12 Feet Deep: Trapped Sisters,4.0,3650,Prime Video,2017.0,R,Matt Eskandari,"Alexandra Park,Nora-Jane Noone,Diane Farr,Tobi...",0.89

In [41]:
amz.sort_values(by='Price', ascending=False).head(3)

,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,MPAA_Rating,Directed_By,Starring,Price
Index,,,,,,,,,
1692,Game of Thrones: The Complete Collection [4K UHD],4.6,10224,4K,2023.0,R,Various,Various,119.99
1114,Harry Potter: 8-Film Collection [4K Ultra HD +...,4.8,86512,4K,2023.0,R,"Chris Columbus,Alfonso Cuarón,Mike Newell,Davi...","Daniel Radcliffe,Rupert Grint,Emma Watson",95.99
734,The Lord of the Rings: The Motion Picture Tril...,4.8,37902,4K,2023.0,R,Peter Jackson,"Elijah Wood,Ian McKellen,Liv Tyler,Viggo Morte...",76.99

In [ ]:
amz.to_csv('Amazon.csv',index=False)